/* стиль для адаптива картинки у карточки*/
._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: contain;
}

.productItem {
	flex: 0 1 32%;
	padding: 10px;
	min-width: 290px;
	background-color: #fff;
	border: 1px solid black;
	border-radius: 10px;
	/* background-color: red; */
}
.itemProduct {
	cursor: pointer;
	font-weight: 400;
	height: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}

.itemProduct__picture {
	display: inline flex;
	padding: 0 0 72% 0;
}
.itemProduct__image {
}
.productItem__body {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	flex: 1 1 auto;
}
.productItem__title {
	font-size: 1.2rem;
	flex: 1 1 auto;
}
.productItem__price {
	font-size: 1.1rem;
	color: red;
}

@media (max-width: 992px) {
	.productItem {
		flex: 0 1 49%;
	}
}

@media (max-width: 768px) {
	.productItem {
		flex: 1 1 auto;
	}
}
